<div class="chatroom-container">
  <h1 class="title-chat">#<%= @chatroom.activity.title %></h1>
  <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <% @chatroom.messages.each do |message| %>
      <div class="message-container" id="message-<%= message.id %>">
        <i class="author">
          <span><%= message.user.username %></span>
          <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
        </i>
        <p><%= message.content %></p>
      </div>
    <% end %>
  </div>
  <br>
  <div class="message-box">
    <%= simple_form_for [ @activity, @chatroom, @message ], remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "Message ##{@activity.title}" %>
      <%= f.submit class: "btn-chat" %>
    <% end %>
  </div>
</div>
