<div class='container-show mb-10 p-3'>

  <div class="card-activity-show">
    <% if @user.background_photo.attached? %>
      <%= cl_image_tag(user.background_photo.key, crop: :fill, class: 'banner') %>
    <% else %>
      <%= image_tag "running.jpg", crop: :fill, class: 'banner' %>
    <% end %>
    <div class="avatar-user-show">
    <% if @user.photo.attached? %>
      <%= cl_image_tag(user.photo.key, width: 200, height: 200, crop: :thumb, gravity: :face, class: "container-banner avatar-x-large-user-show") %>
    <% else %>
      <%= image_tag "default_avatar.png", width: 200, height: 200, crop: :fill, class:"container-banner avatar-x-large-user-show" %>
    <% end %>
    </div>

    <div class="card-activity-show-infos">

      <div>
        <div class="show-header">
          <h2 class='show-title'>About <%= user.username.capitalize %></h2>
          <%= link_to edit_user_path(@user) do%><i class="fas fa-edit"></i><% end %>
        </div>
        <p class='show-paragraph'>
        <% if user.description.nil? || user.description == "" %>
          <p><em>Welcome <%= user.username.capitalize %>, add something about yourself...</em></p>
        <% else %>
          <p><em> <%= user.description %> </em></p>
        <% end %></p>
      </div>

    <div class='profile-sports'>
      <div class='btn-sport-fav-user' >
        <% user.sports.each  do |s| %>
          <a class="btn-sport-fav" href="#"> <%= s.name %> </a>
        <% end %>
      </div>
    </div>

      <div class="card-activity-show-frame">
        <div class="card-activity-show-players">
          <p> <strong>Joined</strong> </p>
          <p> <strong> <%= (user.activities_joined.count) %></strong> <%= user.activities_joined.count > 1 ? 'Activities' : 'Activity' %> </p>
          
        </div>
        <div class="divider-vertical-user"></div>
        <div class="card-activity-show-skill">
          <p> <strong> Created: </strong> </p>
          <p> <strong> <%= (user.activities.count) %></strong> <%= user.activities.count > 1 ? 'Activities' : 'Activity' %> </p>
        </div>
      </div>

        <div class= "show-btn-action">
          <%= link_to destroy_user_session_path, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn-log-out-user" do %>Log Out<% end %>
        </div>
    </div>
  </div>
</div>
