<%= simple_form_for @user do |f| %>
  <%= f.association :sports %>

  <%= f.input :description %>
  <div class="form-group d-flex justify-content-end">
    <input class="btn btn-primary" type="submit" value="Save" name="commit">
  </div>
<% end %>
<%= javascript_pack_tag 'init_auto_complete' %>
<%= javascript_pack_tag 'flatpickr' %>
