<div class='container-banner'>
  <% if @user.background_photo.attached? %>
    <%= cl_image_tag(user.background_photo.key, crop: :fill, class: 'banner') %>
  <% else %>
    <%= image_tag "running.jpg", crop: :fill, class: 'banner' %>
  <% end %>
  <div>
  <% if @user.photo.attached? %>
    <%= cl_image_tag(user.photo.key, width: 200, height: 200, crop: :thumb, gravity: :face, class: "container-banner avatar-x-large") %>
  <% else %>
    <%= image_tag "default_avatar.png", width: 200, height: 200, crop: :fill, class:"container-banner avatar-x-large" %>
  <% end %>
    <div class='banner username'>
      <h1><%= user.username.upcase %></h1>
    </div>
  </div>
</div>

<div class='container-user-show'>
  <div class='row'>
    <div class='card-act-desc'>
      <% if user.description.nil? || user.description == ""  %>
      <p><em><%= @user.username.capitalize %> loves sports, but doesn't love talking about
        <% if @user.gender == 'Male' %>
          himself
          <% else %>
          herself
          <% end %>
           :)</em></p>
      <% else %>
      <p>" <em><%= user.description %> </em>"</p>
      <% end %>
    </div>
  </div>
  <div class='row'>
    <div class='btn-sport-fav-flex' >
    <% user.sports.each  do |s| %>
      <a class="btn-sport-fav" href="#"> <%= s.name %> </a>
      <% end %>
    </div>
  </div>
  <div class='row'>
    <div class='card-act-desc-joins'>
      <p>Sportivities Joined: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong><%= user.activities_joined.count %></strong> </p>
      <p>Sportivities Created:&nbsp;&nbsp;  <strong><%= user.activities.count %></strong> </p>
    </div>
  </div>
</div>
