<footer class="footer">
  <div class="container">
    <div class="row">
      <ul class="nobull">
      <li>
        <%= link_to root_path, class: "footer-icon" do %>
        <%= image_tag("house.png") %>
        <% end %>
        <%= link_to root_path, class: "footer-icon" do %>
        <%= image_tag("star.png") %>
        <% end %>
        <%= link_to new_activity_path, class: "footer-icon" do %>
        <%= image_tag("add.png") %>
        <% end %>
        <%= link_to root_path, class: "footer-icon" do %>
        <%= image_tag("user.png") %>
        <% end %>
        <%= link_to root_path, class: "footer-icon" do %>
        <%= image_tag("chat.png") %>
        <% end %>
      </li>
      </ul>
    </div>
  </div>
</footer>
