<footer class="footer">
  <div class="container-footer">
    <div class="footer-row">
      <ul class="footer-icons nobull">
        <li>
          <%= link_to activities_path(@activities), class: "footer-icon" do %>
          <%= image_tag("house.png") %>
          <% end %>
        </li>
        <li>
          <%= link_to root_path, class: "footer-icon" do %>
          <%= image_tag("star.png") %>
          <% end %>
        </li>
        <li>
          <%= link_to new_activity_path, class: "footer-icon" do %>
          <%= image_tag("add.png") %>
          <% end %>
        </li>
        <li>
          <%= link_to me_path, class: "footer-icon" do %>
          <%= image_tag("user.png") %>
          <% end %>
        </li>
        <li>
          <%= link_to root_path, class: "footer-icon" do %>
          <%= image_tag("chat.png") %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</footer>
