<h1>Activities</h1>
<div>
  <% @activities.each do |activity| %>
  <div>
    <p><strong>Sport: </strong><%= activity.sport.name %></p>
    <p><strong>Activitiy Name: <%= activity.title %></strong></p>
    <p><strong>Start Time: </strong><%= activity.start_time %></p>
    <p><strong>Location: </strong><%= activity.location %></p>
    <p><strong>Host: </strong><%= activity.user.username %></p>
    <p><strong>Players: </strong><%= activity.user.username %></p>
    </div>
    <br>
    <br>
  <% end %>
</div>
