<div class='container-index mb-10 p-3 '>
  <h1>Activities</h1>
  <div>
    <% @activities.each do |activity| %>
    <% unless activity.players.count == activity.player_limit %>
    <div>
      <div class="card-activity-index"> 
        <img src="https://source.unsplash.com/1600x900/?<%= activity.sport.name %>" />
        <div class="card-activity-index-infos border-bottom">
          <div>
            <h2 class='mb-2'><%= activity.title %></h2>
            <p class='mb-1'><%= activity.location %></p>
            <p class='mb-1'><%= activity.start_time.strftime("%A, %B %-d, %H:%M") %></p>
          </div>
          <a class="card-activity-index-btn btn btn-sport" href="#"><%= activity.sport.name %></a>
        </div>
        <div class="card-activity-index-players">
          <div class="mr-8 card-activity-index-host">
            <img src="https://kitt.lewagon.com/placeholder/users/nati95" class="avatar-large" />
            <div class="card-activity-index-player">
              <img src="https://kitt.lewagon.com/placeholder/users/arielgarbarsky" class="avatar" />
              <img src="https://kitt.lewagon.com/placeholder/users/szkamens" class="avatar" />
              <img src="https://kitt.lewagon.com/placeholder/users/vinzka" class="avatar" />
              <span>+<%= activity.players.count - 3 %> </span>
              <div class=''>
                <p><em><%= activity.player_limit - activity.players.count%> needed</em></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <p><strong>Host: </strong><%= activity.user.username %></p>
      <p><strong>Players: </strong>
      <% if activity.players.count > 4 %>
        <%= activity.users.take(3).map { |u| u.username }.join(', ') %> +<%= activity.players.count - 3 %> 
        <% else %> 
        <%= activity.users.take(3).map { |u| u.username }.join(', ') %>
      <% end %>
      </p>
      </div>
    <% end %>
    <% end %>
  </div>
</div>


