<!DOCTYPE html>
<html>
  <head>
    <title>Sportivity</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="page-wrapper">
      <div class="page-content">
       <!-- <%# <%= render 'shared/navbar' %> -->
        <%= render 'shared/background' %>
        <%= render 'shared/flashes' %>

        <%= yield %>
      </div>
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
